<link href="stylesheets/style.css" rel="stylesheet" type="text/css">

<div class="body">
    <div class="left" style="height:800px;float:left;">
        <div class="body">
            <div class="left" style="height:800px;float:left;"></div>
            <div class="right" style="height:800px;float:left;"></div>
        </div>
    </div>
    <div class="right" style="height:800px;float:left;">
        <div class="body">
            <div class="left" style="height:800px;float:left;"></div>
            <div class="right" style="height:800px;float:left;"></div>
        </div>
    </div>
</div>
